<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="FluentValidation*" />
      <package pattern="MediatR*" />
      <package pattern="Microsoft.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="System.*" />
      <package pattern="SharpGrip.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="Thinktecture.*" />
      <package pattern="xunit*" />
      <package pattern="coverlet*" />
      <package pattern="QRCoder*" />
    </packageSource>
  </packageSourceMapping>
</configuration>