<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SGA ITLA</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="acceso">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Acceso por Rol
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="portal/admin">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Portal Admin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="portal/operador">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Portal Operador
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="portal/driver">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Portal Driver
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="portal/cliente-estudiante">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Portal Cliente/Estudiante
            </NavLink>
        </div>
    </nav>
</div>

